@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Noto Sans Mono", monospace;
    /* color: #3e3e3e; */
    color: #343a40;
}

body{
    text-align: justify;
    /* background-color: #fafaf0; */
    background-color: #f8f8f8;
}

h2{
    font-size: 1.2rem;
}

a{
    color: #68B684;
    font-weight: bold;
}
