body,
* {
    padding: 0;
    margin: 0;
}

.max-container {
    max-width: 1920px;
    max-height: 1080px;
}

header {
    background-color: cornsilk; 
    
    max-height: calc(1080px - 2rem);
    height: calc(100% - 2rem);

    width: 15rem;
    padding: 1rem 1.5rem;

    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    box-shadow:0px 0px 1px black;
}

header .ul-index-nav {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

header .ul-index-nav > li {
    cursor: pointer;
}

header .ul-contact-nav {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}


header div.img-container{
    width: 100%;
    display: flex;
    justify-content: center;
}
header img {
    width: 50%;
    border-bottom: 2px solid gray;
}

header .dark-mode-button{
    font-size: large;
    padding: 0.3rem;
    cursor: pointer;
    background-color: white;
}

iframe {
    height: 100vh;
    width: calc(100% - 20rem);

    padding-left: 19rem;
}

.nav-active {
    text-decoration: underline;
}

footer {
    margin-top: auto;
    
}