@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root, *
{

    --max-width: 1080px;
    /* --color: #0077b5;
    --color-bright: #00b6ff; */
    --color: #0088CC;
    --color-bright: olive;
    --color-gray-footer: #f2f2f2;

    padding: 0;
    margin: 0;

    text-decoration: none;
    color: black;

    
    font-weight: normal;
    /* font-family: "Open Sans", Helvetica, Arial, sans-serif; */
    font-family: "JetBrains Mono", monospace;    
}

body
{
    background-color: rgb(255,255,255);
}

/*
    Default Elements
*/

a.default
{
    text-decoration: underline;
    color: var(--color);
    margin-inline: 0.2rem;
}
a.default:hover
{
    color: var(--color-bright)
}

a:active
{
    color: #0076b5a5;
}

h2
{
    font-size: 1.8rem;
    font-weight: bold;
}

h3 
{
    font-size: 1.2rem;
    font-weight: bold;
}
h4
{
    font-size: 1.1;
    font-weight: bold;
}

i
{
    color: inherit;
}

ul
{
    list-style-type: square;
}

button {
    padding: 0.5rem 0.8rem;
    font-size: 1rem;
    
    cursor: pointer;

    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 8px;
    
    transition: all 0.1s ease-in-out;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

button:hover {
    background-color: #f4f4f4;
    scale: 1.02;
}

/* Dark Mode Button */
button.dark {
    background-color: black;
    color: white;
}

button.dark:hover {
    background-color: #333;
}



/* Disabled Button */
button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
}

/* HEADER CSS */

header
{
    width: 100%;

    box-shadow: 0 4px 2px -2px rgba(128, 128, 128, 0.535);
}
div.header-container{
    max-width: var(--max-width);
    margin: auto;

    display: flex;
    justify-content: space-between ;
    align-items: center;
}
header h1{
    font-size: 1.2rem;
    font-weight: bold;
    padding-left: 0.2rem;
}
header ul{
    display: flex;
    list-style-type: none;
    cursor: pointer;
}

header ul li
{
    padding:  0.8rem 1rem;
}

header ul li:hover
{
    background-color: #ddd;
    
}
header li.active-tab 
{
     background-color: #eaeaea;
}

/* FOOTER CSS */
footer
{
    background-color: var(--color-gray-footer);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    

    box-shadow: 0px 0px 2px 2px  rgba(128, 128, 128, 0.535);
}

footer p
{
    font-size: 0.9rem;
}



