:root{
    --color1: #6CA6D9;
    --color2: #0367A6;
    --color3: #024873;
    --color4: #011126;
    --color5: #0D0D0D;
}

body, body * {
    margin: 0px;
    padding: 0px;
}

header{
    display: flex;
    

    background-color: var(--color5);
    color: white;

    padding: 0.3em;
}
header h1{
    margin-left: 0.5em;
}
header nav {
    display: flex;
    align-items: center;

    margin: auto;
}
header nav > a{
    background-color: var(--color3);
    color: white;
    text-decoration: none;
    
    padding: 0.2em 0.5em;
    margin-left: 0.5em;
    border-radius: 0.5em;
}
header nav > a:hover{
    background-color: rgb(84, 25, 138);
}
body > h2 {
    margin-top: 1em;
    padding: 0px 1em;
}
main {
    width: 100vw;
    display: flex;
    margin-top: 1.5em;
}
main section#desc {
    padding: 0px 1.5em;
    text-align: justify;

    width: 317px;
}
main section#port {
    display: flex;
    padding: 0px 1.5em;
    padding-top: 2em;
    width: 70%;
}
main section > div {
    background-color: var(--color3);

    width: 15em;
    height: 15em;

    margin-inline: 1em;
    border: 0.2em solid var(--color3);
}

section#port img {
    width: 100%;
}
section#port figcaption{
    text-align: center;
}