{{define "main"}}
<section class="project_container flex">
    <div>
        <h1>Projetos</h1>
        <span>
            Uma coletanea de projetos em que atuei.
        </span>
    </div>


    {{ $projects := where (where .Site.RegularPages "Section" "projects") "File.Dir" "projects/" }}
    {{ range $projects }}
    {{ partial "project-entry.html" . }}
    {{ end }}
</section>

<section class="minorproject_container">
  <h2>Outros</h2>
  <ul>
    {{ $projects := where .Site.RegularPages "File.Dir" "projects/minor/" }}
    {{ range $projects }}
      <li>
        {{ partial "minor-project-entry.html" . }}
      </li>
    {{ end }}
  </ul>
</section>
{{end}}
